<h3>Videos loaded.</h3>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <hr class="line blue">
        <p>Salut</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat.
          Pellentesque ac tristique nisi.</p>
        <hr class="line blue">
      </div>
      <div class="col-md-4">
        <hr class="line red">
        <p>Oui</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat.
          Pellentesque ac tristique nisi.</p>
        <hr class="line red">
      </div>
      <div class="col-md-4">
        <hr class="line green">
        <p>Ah bon ?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat.
          Pellentesque ac tristique nisi.</p>
        <hr class="line green">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <hr class="line red">
        <p>Chaud</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat.
          Pellentesque ac tristique nisi.</p>
        <hr class="line red">
      </div>
      <div class="col-md-4">
        <hr class="line purple">
        <p>Bidon</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat.
          Pellentesque ac tristique nisi.</p>
        <hr class="line purple">
      </div>
      <div class="col-md-4">
        <hr class="line blue">
        <p>Nouvelle Video</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat.
          Pellentesque ac tristique nisi.</p>
        <hr class="line blue">
      </div>
    </div>
  </div>
</section>